
.col-1-content{
  padding: 60px;
  background-color:steelblue;
  margin:50px;
  color:white;
  
}
.col-1-content h2{
  font-size: x-large;
}
.col-1-content h3,h4{
  font-size: large;
}
.col-1-content p{
  font-size:medium;
}

.col-2-content{
  
  padding:60px;
  margin:50px;
}
.col-2-content h1{
  text-align: center;
}
.rm-padding{
  padding:0px;
}